---
import Layout from "../layouts/Layout.astro";
import "../css/dashboard.css";
import "../js/folder.js"
import Navigation from "../components/Navigation.astro";
---

<Layout>
  <div class="background"></div>
  <Navigation />

  <div class="new show">
    <form class="createFolder">
      <div class="image">
        <a class="refresh"> <img src="./icons/arrow_back.svg" width="25px" height="25px" /></a>
        <img src="./icons/folder.svg" alt="folder" class="Icon-Folder" />
      </div>
      <div class="folder-create">
        <h2>Create New Folder</h2>
        <label for="Name">Folder Name</label>
        <input type="text" id="Name" class="Name" />
        <label for="Icons">Icon</label>
        <select id="Icons" class="Icons">
          <option value="/folder.svg">Select Icon</option>
          <option value="/deployed.svg">Deployed</option>
          <option value="/folder.svg">Folder</option>
          <option value="/iframe.svg">Iframe</option>
          <option value="/movie.svg">Movie</option>
          <option value="/shopping.svg">Shopping</option>
          <option value="/stacks.svg">Stacks</option>
          <option value="/star.svg">Star</option>
          <option value="/text.svg">Document</option>
        </select>
        <div class="buttons-folder">
        <button class="create">Create Folder</button>


        </div>
      </div>
    </form>
  </div>

  <div class="hero">
    <div class="content">
      <div class="inf">
        <h1>Folders <span class="user-collection"></span></h1>
      </div>
      <div class="box">
        <button class="card">
          <img src="./icons/folder.svg" alt="folder" />
          <h2>New folder</h2>
        </button>
      </div>
    </div>
  </div>

</Layout>
