---
import Layout from "../../layouts/Layout.astro";
import "../../css/user.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout> 
    <div class="hero">
  <div class="background  photo"></div>
        <div class="content">
            <div class="active">
            <img src="../Cortlink-icon.png" alt="  Katr1s" class="active">
            </div>
            <h1>Katr1s</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus quam sit amet ipsum pulvinar, ac laoreet dolor viverra. Proin ut eros sed ante sodales sagittis nec id magna. In quis rutrum massa, quis scelerisque purus. Aenean elementum erat quis mauris consequat, eu blandit diam eleifend. Ut pretium enim pulvinar maximus malesuada. Nullam sit amet accumsan dolor.</p>
        </div>
    </div>
</Layout>


