.hero {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero .button {
  width: 97%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.hero .button button {
  font-size: 1.3rem;
  border-radius: 4px;
  background-color: var(--blue);
  border: transparent;
  color: var(--White);
  padding: 10px 20px;
}

.hero .button .back {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero .button h2,
.hero .button a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--Black);
  font-weight: 600;
  margin-right: 5px;
}

.hero .button h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero .content {
  width: 97%;
  height: calc(97% - 50px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.hero .content .card {
  width: 300px;
  height: 300px;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 14px;
  margin-left: 1%;
  box-shadow: 0 0 5px var(--Black_light);
}

.hero .content .card .up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;

  img {
    width: 35px;
  }
}

.hero .content .card .inf {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card .up .title {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.card .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card a {
  text-decoration: none;
  color: var(--White);
  background-color: var(--blue);
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 4px;
}

.card h3 {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  font-size: 2.4rem;
  text-overflow: ellipsis;
  position: relative;
}

.card p {
  width: 100%;
  height: auto;
  max-height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-top: 10px;
  font-size: 1rem;
}

.card button {
  background-color: transparent;
  color: var(--Black);
  border: transparent;
  cursor: pointer;

  img {
    width: 25px;
  }
}

.link {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: var(--White_Light);
  position: absolute;
  overflow: hidden;
}

.link form {
  width: 30%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--White);
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 0 5px var(--Black_light);
}

.link h2 {
  font-size: 2rem;
  margin: 0;
}

.link input {
  width: 98%;
  height: 30px;
  outline: none;
  font-size: 1.2rem;
  padding-left: 5px;
  border-radius: 4px;
}

.link label {
  font-size: 1.2rem;
  transform: translate(10px, 10px);
  background-color: var(--White);
  margin-top: 10px;
}

.link textarea {
  width: 98%;
  height: 50px;
  padding: 10px 0;
  padding-left: 5px;
  outline: none;
  font-size: 1.2rem;
  overflow: hidden;
  border-radius: 4px;
  resize: none;
}

.link button {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--blue);
  border: transparent;
  color: var(--White);
  font-size: 1.4rem;
}

.show {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero .content {
    height: auto;
    gap: 20px;
    padding: 10px 0;
    grid-template-columns: 1fr; /* Una sola columna */
  }

  .hero .content .card {
    width: 93.5%; /* Ocupa todo el ancho disponible */
    margin: 0 auto;
  }

  .link form {
    width: 90%;
  }
}
