.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  z-index: 0;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
}

/* Fondo grid punteado */
.background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image: linear-gradient(to right, #e7e5e4 1px, transparent 1px),
    linear-gradient(to bottom, #e7e5e4 1px, transparent 1px);
  background-size: 20px 20px;

  mask-image: repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  mask-composite: intersect;

  /* Safari */
  -webkit-mask-image: repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  -webkit-mask-composite: source-in;
}

/* Asegura que el contenido quede encima del fondo */
.background > * {
  position: relative;
  z-index: 1;
}

.content {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--Black);
  z-index: 10;
  padding: 20px 0;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: var(--blue);
  color: var(--White);
  border: transparent;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
}

.card {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center   ;
}

form {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

label {
  font-size: 1.3rem;
  font-weight: 600;
}

input {
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--Black);
  background: transparent;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 768px){
    .content{
        width: 80%;
    }
}