nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    
    a{
        text-decoration: none;
    }
}

nav .logotype{
    margin-left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .tag{
        width: 30px;
        height: 15px;
        border: 1px solid blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        opacity: 0.5;
        font-size: 0.8rem;
    }
}

nav .logotype a{
    color: var(--Black);
    font-size: 1.8rem;
}

nav .sections{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 1.5%;
}

nav .sections a{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--Black);

    img{
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 1px solid var(--Black);
    }
}

nav .sections .active{
    color: blueviolet;
}

nav .logout{
    padding: 12px 10px;
    background-color: transparent;
    border: transparent;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

nav .logout:hover{
    transition: 0.5s;
    border-bottom: 1px solid var(--Black);
}