
.hero {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  
  position: relative;
  z-index: 0;
}



.background{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
}

/* Fondo grid punteado */
.background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-image:
    linear-gradient(to right, #e7e5e4 1px, transparent 1px),
    linear-gradient(to bottom, #e7e5e4 1px, transparent 1px);
  background-size: 20px 20px;

  mask-image:
    repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  mask-composite: intersect;

  /* Safari */
  -webkit-mask-image:
    repeating-linear-gradient(
      to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    ),
    repeating-linear-gradient(
      to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px
    );
  -webkit-mask-composite: source-in;
}

/* Asegura que el contenido quede encima del fondo */
.background > * {
  position: relative;
  z-index: 1;
}

.photo{
    background-image: url("/bio/photo.png");
    opacity: 0.4;
}

.music{
    background-image: url("/bio/music.png");
    opacity: 0.4;
}

.content {
    width: 98%;
    height: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    z-index: 5;
}


.content .active{
  width: 250px;
  height: 250px; 
  margin: 0;
  border: 1px solid var(--Black);
  background-color: var(--Black);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;

  img{
    width: 250px;
    height: 250px;
  }
}

/* Segundo borde */
.content .active::after{
  content: "";
  position: absolute;
  width: 255px;
  height: 255px;
  background: linear-gradient(45deg,#ff00ff,#00ffff,#ffdd00);
  filter: blur(18px);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  scale: 1.01;
  z-index: 4;
  animation: 5.8s scale infinite ease-in-out;
}

@keyframes scale {
    0%{
        filter: blur(0px);
        transform: rotate(0);
    }
    50%{
        filter: blur(18px);
        transform: rotate(360deg);
    }
    100%{
        filter: blur(0px);
        transform: rotate(0);
    }
}


.content h1{
    margin-top: 20px;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.content p{
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}